body {
    background-color: #2D4978;
    color: white;
    overflow-x: hidden; /* for animation */
}

.header {
    background-color: #2B446C;
}

.navbar-collapse {
    text-transform: uppercase;
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.navbar-collapse a {
    color: white;
    font-weight: 300;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: inherit;
}

.nav>li:hover {
    border-bottom: 1px white solid;
}

.banner { 
    min-height: 677px;
    background-image: url('svg/snoozit-banner-backdrop.svg');
    background-size: cover;
}

.stars {
    background-image: url('svg/snoozit-stars-group.svg');    
    background-repeat: no-repeat;
    background-size: 447px;
    background-position-y: 79px;    
}

.logo {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-moon {
    z-index: 20;
}

.logo-cord {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 230px;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    transition: top 0.2s ease;
}

.logo-cord:hover {
    top: 250px;
}

.logo-cord:active {
    top: 270px;
}


.banner-title {
    margin-top: 150px;
    z-index: 10;
    position: relative;
}

.banner-title h2 {
    margin-bottom: 70px;    
}

h1 {
 color: #01A9BD;
 font-size: 94px;
font-weight: 700;
}

h2 {
font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.apply {
  margin-top: 59px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.access {
    margin-bottom: 37px;
    font-weight: bold;
    font-size: 26px;
}

.cta-form {
    display: flex;
}

.cta-email {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    height: 41px;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  color: #01a9bd;
}

input:-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  color: #01a9bd;
}

input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  color: #01a9bd;
}

input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  color: #01a9bd;
}

.cta-go {
    border: 0;
    background-color: #F7D50A;
    width: 41px;
    height: 41px;
    margin-left: 10px;
    background-image: url('svg/snoozit-icon-arrow.svg');
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: center;
}

.subscribed {
    font-weight: 300;
    color: #F7D50A;
    display: none;
    height: 41px;
    line-height: 41px;
}

/* FEATURES */

.features {
    background-color: white;
    color:#01A9BD;
    padding-bottom: 120px;
}

.features .container {
    padding: 0 116px;
    text-align: center;
    
}

.features h2 {
    color:#2D4978;
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.features h3 {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}   

.footer {
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: 300;
}

.footer h2 {
    margin-bottom: 60px;
    font-weight: 500;
}

.footer a {
    color: #F7D50A;
}

.contact {
    font-size: 20px;
}

/* ANIMATION */

@keyframes slide1 {
    from{
        left: -150px;
    }
    to{
        left: 100%;
    }
}

@keyframes slide2 {
    from{
        left: 100%;
    }
    to{
        left: -150px;
    }
}

.animate-slide {
    position: absolute;
    left:0;
    z-index: 5;
}

.cloud1 {
    top: 136px;
    margin-left: 98px; 
    animation: slide1 40s linear infinite;
}


.cloud2 {
    top: 232px;
    margin-left: -150px; 
    animation: slide2 32s linear infinite;
}

.cloud3 {
    top: 311px;
    margin-left: 348px;
    animation: slide1 100s linear infinite;
}

/* MOBILE */
@media (max-width: 767px) {

    .header {
        display: none;
    }

    .logo {
        margin-top: 35px;
    }

    .logo-moon {
        width: 100px;
    }

    .logo-cord {
        width: 10px;
        top: 64px;
    }

    .banner-title {
        text-align: center;
        margin-top: 30px;
    }

    .banner-title h2 {
        line-height: 54px;
    }

    .logo-title {
        width: 300px;
    }

    .stars {
            background-size: 204px;
        background-position-x: 94px;
        background-position-y: 29px;
    }

    .cta-form {
        display: inline-flex;
    }

    .cta-email {
        width: 200px;
    }

    .features {
        padding-bottom: 60px;
    }

    .features .container {
        padding: 0 20px;
    }

    .features h2 {
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 34px;
    }

    .feature {
        margin-bottom: 60px;
    }

    .footer {
        padding-top: 40px;
    }

    .footer h2 {
        margin-bottom: 40px;
    } 

    .contact-us {
        margin-bottom: 20px;
    }

    .footer-notes {
        text-align: center;
    }

    .copyright {
        float: none!important;
        display: inline-block;
        margin-top: 40px;
    }
}