body {
    background-color: #2D4978;
    color: white;
        overflow-x: hidden; /* for animation */
}

.header {
    background-color: #2B446C;
}

.navbar-collapse {
    text-transform: uppercase;
    font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.navbar-collapse a {
    color: white;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: inherit;
}

.nav>li:hover {
    border-bottom: 1px white solid;
}

.banner { 
    min-height: 677px;
    background-image: url('svg/snoozit-banner-backdrop.svg');
    background-size: cover;
}

.logo {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-moon {
    z-index: 20;
}

.logo-cord {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 230px;
    -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
    transition: top 0.2s ease;
}

.logo-cord:hover {
    top: 250px;
}

.logo-cord:active {
    top: 270px;
}


.banner-title {
    margin-top: 150px;
    z-index: 10;
    position: relative;
}

h1 {
 color: #01A9BD;
 font-size: 94px;
font-weight: 700;
}

h2 {
font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.cta-apply {
    margin-top: 59px;
      font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.features {
    background-color: white;
    color:#01A9BD;
}

.features .container {
    padding: 0 116px;
}

.features h2 {
    color:#2D4978;
    text-align: center;
}

.features h3 {
    text-align: center;
}   

footer {
    min-height: 100px;
    text-align: center;
}

/* ANIMATION */

@keyframes slide1 {
    from{
        left: -150px;
    }
    to{
        left: 100%;
    }
}

@keyframes slide2 {
    from{
        left: 100%;
    }
    to{
        left: -150px;
    }
}

.animate-slide {
    position: absolute;
    left:0;
    z-index: 5;
}

.cloud1 {
    top: 136px;
    margin-left: 98px; 
    animation: slide1 40s linear infinite;
}


.cloud2 {
    top: 232px;
    margin-left: -150px; 
    animation: slide2 32s linear infinite;
}

.cloud3 {
    top: 311px;
    margin-left: 348px;
    animation: slide2 50s linear infinite;
}