/*
#01A9BD : Couleur primaire
#F7D50A : Couleur secondaire (souvent vivante)
#00788C : Couleur terciaire (souvent sobre)
Ratio (%)
Backdrop :
#2D4978 : Pâle
#2B446C : Foncé


*/

@font-face {
    font-family: Walsheim;
    font-weight: 300;
    src: url("font/GT-Walsheim.otf") format("opentype");
}

@font-face {
    font-family: Walsheim;
    src: url("font/GT-Walsheim-Medium.otf") format("opentype");
}

@font-face {
    font-family: Walsheim;
    font-weight: 700;
    src: url("font/GT-Walsheim-Bold.otf") format("opentype");
}


body{
    font-family: Walsheim;
}

.center {
    text-align: center;
}

.pull-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}